body{
    background-color: blue;

}
.email{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15;
}
.body-size{
    width: 30rem;
    height: 30rem;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
   
}